@model WebServer.Models.Meeting.ShowMeetingItemModel
@{
    Layout = "~/Views/Shared/_Layout_organizor.cshtml";
    if (Model.meeting != null)
    {
        ViewBag.Title=Model.meeting.meetingName;
    }
}
@section BodyLess{
    <link href="~/less/meeting/show.less" type="text/css" rel="stylesheet">
}
   
<div>
    <input type="hidden" id="meetingID" value="@Session["meetingID"]" />
</div>

<div class="container" id="mainContent">
    <div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <br />
            <ol class="breadcrumb">
                <li><a href="#" class="returnIndex">首页</a></li>
                <li class="active">
                @if (Model.meeting != null)
                {
                    @Model.meeting.meetingName;
                }
                </li>
            </ol>
        </div>
        <div class="col-md-5" id="return">
            <br/>
        <p><button class="btn btn-default returnIndex" type="button">返回</button></p>
            <div id="ContentRightHeadState">
                状态:<span id="Status"></span>
            </div>
            </div>
    </div>
    
        

    <div id="mainContentRight">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" id="meetingInfo">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row meeting">
                                <div class="col-md-5"><h3><strong>会议信息</strong></h3></div>
                                <div class="col-md-2 col-md-offset-5">
                                    <br />
                                    <img src="~/images/u129.png" />
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive scrollTable">
                            <p>
                                <label class="">会议名称：</label>
                                <span>
                                    @if (Model.meeting != null)
                                {
                                @Model.meeting.meetingName
                                }
                                </span>
                            </p>
                            <p>
                                <label class="">会议开始时间：</label>
                                <span>
                                    @if (Model.meeting != null)
                                {
                                @Model.meeting.meetingToStartTime.ToString("yyyy-MM-dd");
                                }
                                </span>
                            </p>
                            <p>
                                <label class="">会场：</label>
                                @{
                                    var meetingPlaceName = "";
                                }
                                @if (Model.meeting != null && Model.meetingPlaces != null)
                                {

                                    foreach (var meetingPlace in Model.meetingPlaces)
                                    {
                                        if (meetingPlace.meetingPlaceID == Model.meeting.meetingPlaceID)
                                        {
                                            meetingPlaceName = meetingPlace.meetingPlaceName;
                                        }
                                    }
                                }
                                <span>
                                    @meetingPlaceName
                                </span>
                            </p>
                            <p>
                                <label class="">会议概况：</label>
                                <span>
                                    @if (Model.meeting != null)
                                {
                                @Model.meeting.meetingSummary
                                }
                                </span>
                            </p>
                        </div>
                            </div>
                    </div>
                <div class="panel panel-default" id="meetingPeopleDevice">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row tempDelegate">
                                <div class="col-md-5"><h3><strong>参会人员与设备</strong></h3></div>
                                <div class="col-md-2 col-md-offset-5">
                                    <br />
                                    <img src="~/images/u129.png" />
                                </div>
                            </div>
                       
                            </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div id="contentListGroup1">
                                <ul class="list-group contentListGroupBanderList1">
                                    <li href="#" class="list-group-item disabled container-fluid">
                                        <label class="col-md-3 list-If">
                                            人员名字
                                        </label>
                                        <label class="col-md-2 list-If">
                                            部门
                                        </label>
                                        <label class="col-md-3 list-If">
                                            职务
                                        </label>
                                        <label class="col-md-2 list-If">
                                            角色
                                        </label>
                                        <label class="col-md-2 list-If">
                                            设备编号
                                        </label>

                                    </li>
                                </ul>
                                <ul class="list-group contentListGroupOutWindow1 table-responsive scrollTable">
                                    @*<ul class="list-group contentListGroupOutWindowList1">*@
                                    @if (Model.delegates != null)
                                    {
                                        foreach (var delegateItem in Model.delegates)
                                        {
                                            <li>
                                                <label class="col-md-3 list-If">
                                                    @delegateItem.userName
                                                </label>
                                                <label class="col-md-2 list-If">
                                                    @delegateItem.userDepartment
                                                </label>
                                                <label class="col-md-3 list-If">
                                                    @delegateItem.userJob
                                                </label>
                                                <label class="col-md-2 list-If">
                                                    @{
                                            var meetingRole = "";
                                            switch (@delegateItem.userMeetingRole)
                                            {
                                                case 0:
                                                    meetingRole = "参会人员";
                                                    break;
                                                case 1:
                                                    meetingRole = "主持人";
                                                    break;
                                                case 2:
                                                default:
                                                    meetingRole = "主讲人";
                                                    break;
                                            }
                                                    }
                                                    @meetingRole
                                                </label>
                                                <label class="col-md-2 list-If">
                                                    @delegateItem.deviceIndex
                                                </label>
                                            </li>
                                            <br />
                                        }
                                    }
                                    @*</ul>*@
                                </ul>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" id="meetingAgenda">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row agenda">
                                <div class="col-md-5"><h3><strong>议程</strong></h3></div>
                                <div class="col-md-2 col-md-offset-5">
                                    <br />
                                    <img class="" src="~/images/u129.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div id="contentListGroup2">
                                <ul class="list-group contentListGroupBanderList2">
                                    <li href="#" class="list-group-item disabled container-fluid">
                                        <label class="col-md-3 list-If">
                                            名称
                                        </label>
                                        <label class="col-md-3 list-If">
                                            主讲人
                                        </label>
                                        <label class="col-md-2 list-If">
                                            时长
                                        </label>
                                        <label class="col-md-2 list-If">
                                            附件
                                        </label>
                                        <label class="col-md-2 list-If">
                                            投票信息
                                        </label>
                                    </li>
                                </ul>
                                <ul class="list-group contentListGroupOutWindow2 table-responsive scrollTable">
                                    @*<ul class="list-group contentListGroupOutWindowList2">*@
                                    @if (Model.agendas != null)
                                    {
                                        foreach (var agendaItem in Model.agendas)
                                        {
                                            <li>
                                                <input type="hidden" name="agendaID" class="agendaID" value="@agendaItem.agendaID" />

                                                <label class="col-md-3 list-If">
                                                    @agendaItem.agendaName
                                                </label>
                                                <label class="col-md-3 list-If">
                                                    @agendaItem.userName
                                                </label>
                                                <label class="col-md-2 list-If">
                                                    @agendaItem.agendaDuration 分钟
                                                </label>
                                                <label class="col-md-2 list-If">
                                                    @*<input type="button" class="ui-icon-document document" />*@
                                                    <img class="document" src="~/images/u141.png" />
                                                </label>
                                                <label class="col-md-2 list-If">
                                                    @*<input type="button" class="ui-icon-disk vote" />*@
                                                    <img class="vote" src="~/images/u131.png" />
                                                </label>
                                            </li>
                                        }
                                    }
                                    @*</ul>*@
                                </ul>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/meeting/show.js" type="text/javascript"></script>
