@model List<WebServer.Models.Vote.VoteInfo>
@{
    Layout = "~/Views/Shared/_Layout_organizor.cshtml";
    ViewBag.Title = "中佰会议系统组织者";
}

@section BodyLess{
    <link href="~/less/vote/index.less" type="text/css" rel="stylesheet" />
}

<div>
    <input type="hidden" id="agendaID" value="@Session["agendaID"]" />
    <input type="hidden" id="meetingID" value="@Session["meetingID"]" />
</div>

<div class="container" id="mainContent">
    <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
        <div id="ContentRightHead" class="col-md-12">
            <p id="ContentRightHeadTitle" class="col-md-4"><strong>表决</strong></p>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <button class="btn btn-default col-md-2 returnIndex" type="button">返回</button>
            <span id="ContentRightHeadState">
                状态:<span id="Status"></span>
            </span>
        </div>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 size=3>
        <div class="ContentRightButtonGroup">
            <button class="btn btn-default new" type="button">添加</button>
            <button class="btn btn-default deleteMutiple" type="button">批量删除</button>
            <button class="btn btn-default undoDelete" type="button">撤销删除</button>
        </div>
        <div id="ContentRightList">
            <div id="contentRightListGroup">
                <ul class="list-group contentRightListGroupBanderList">
                    <li href="#" class="list-group-item disabled container-fluid">
                        <label class="col-md-3 col-md-offset-1 list-If">
                            名称
                        </label>
                        <label class="col-md-3 list-If">
                            描述
                        </label>
                        <label class="col-md-3 list-If">
                            类型
                        </label>
                    </li>
                </ul>

                <ul class="list-group contentRightListGroupOutWindow">
                    <ul class="list-group contentRightListGroupOutWindowList"></ul>
                    @foreach (var vote in Model)
                    {
                        <li class="list-group-item disabled container-fluid list_index">
                            <input type="hidden" class="ID voteID" value="@vote.voteID" />
                            <input type="checkbox" class="col-md-1 check">
                            <label class="col-md-3 list-If">
                                @vote.voteName
                            </label>
                            <label class="col-md-3 list-If">
                                @vote.voteDescription
                            </label>
                            <label class="col-md-3 list-If">
                                @{
                                    var voteTypeText = "";
                                }
                                @switch (vote.voteType)
                                {
                                    case 0:
                                        voteTypeText = "任选";
                                        break;
                                    case 1:
                                        voteTypeText = "单选";
                                        break;
                                    case 2:
                                    default:
                                        voteTypeText = "双选";
                                        break;
                                }
                                @voteTypeText
                            </label>
                            <label class="col-md-2 list-If">
                                <img class="edit" src="~/images/10.bmp" />
                            </label>
                            <label>
                                <img class="delete" src="~/images/13.bmp" />
                            </label>
                        </li>
                    }
                </ul>
            </div>
            <nav class="text-center" id="paginationOutWindow">
                <ul class="pagination">

                </ul>
            </nav>
        </div>
        <div class="ContentRightButtonGroup pull-right">
            <button class="btn btn-default confirmDelete" type="button">确认删除</button>
        </div>
    </div>
</div>

<script src="~/js/vote/index.js" type="text/javascript"></script>









