@model Tuple<WebServer.Models.Agenda.AgendaInfo, List<WebServer.Models.Delegate.SpeakerForAgenda>>
@{
    Layout = "~/Views/Shared/_Layout_organizor.cshtml";
    ViewBag.Title = "中佰会议系统组织者";
}
@section BodyLess{
    <link href="~/less/agenda/edit.less" type="text/css" rel="stylesheet">
}

<div>
    <input type="hidden" id="meetingID" value="@Session["meetingID"]" />
</div>

<div class="container" id="mainContent">
    <div class="panel panel-default" id="mainContentRight">
        <div>
            <div class="col-md-6 ">
                <h2><strong>编辑会议议程</strong></h2>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2 ">
                <br />
                <button class="btn btn-default cancel" type="button" id="cancel1" >取消编辑</button>
            </div>
            <span id="ContentRightHeadState">
                状态:<span id="Status">创建成功</span>
            </span>
        </div>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 size=3>
        <div id="createAgenda">
            <div>
                <input type="hidden" class="agendaID" value="@Model.Item1.agendaID" />
                <div>
                    <div id="agendaName">填写议程名称：</div>
                    <input type="text" id="agendaNameInput" class="agendaName" value="@Model.Item1.agendaName">
                </div>
                <div>
                    <div id="mainSpeaker">议程的主讲人：</div>
                    <div class="btn-group" id="select">
                        <select name="select" id="select" class="xla_k userID">
                            @foreach (var speaker in Model.Item2)
                            {
                                <option value="@speaker.userID">@speaker.userName</option>
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <div id="agendaTime">议程时长：</div>
                    <input type="number" id="agendaTimeInput" value="@Model.Item1.agendaDuration" class="agendaDuration">&nbsp;分钟
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-3"></div>
            <div class="col-md-4 col-md-offset-3" id="cancel2keep">
                @*<button class="btn btn-default" type="button" id="cancel2" onclick="window.location.href='.html'">取消编辑</button>&nbsp;&nbsp;*@
                <button class="btn btn-default keep" type="button" id="keep" >保存编辑</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/agenda/edit.js"></script>