@model List<WebServer.Models.Agenda.AgendaInfo>
@{
    Layout = "~/Views/Shared/_Layout_organizor.cshtml";
    ViewBag.Title = "中佰会议系统组织者";
}
@section BodyLess{
    <link href="~/less/agenda/index.less" type="text/css" rel="stylesheet">
}

<div>
    <input type="hidden" id="meetingID" value="@Session["meetingID"]" />
</div>

<div class="container" id="mainContent">
    <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
        <div id="ContentRightHead" class="col-md-12">
            <p id="ContentRightHeadTitle" class="col-md-4"><strong>议程</strong></p>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchInput">
                    <span class="input-group-btn" id="searchBtn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <button class="btn btn-default col-md-2 returnIndex" type="button">返回</button>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4" id="ContentRightHeadState">
                    状态:<span id="Status"></span>
                </div>
            </div>
            
        </div>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 size=3>
        <div class="ContentRightButtonGroup">
            <button class="btn btn-default new" type="button">创建</button>
            <button class="btn btn-default deleteMutiple" type="button">批量删除</button>
            <button class="btn btn-default undoDelete" type="button">撤销删除</button>
        </div>
        <div id="ContentRightList">
            <div id="contentRightListGroup">
                <ul class="list-group1 contentRightListGroupBanderList">
                    <li href="#" class="list-group-item disabled container-fluid">
                        <input type="checkbox" value="" class="col-md-1 contentRightListGroupBanderListInput check" id="selectAll">
                        <label class="col-md-2 list-If">
                            名称
                        </label>
                        <label class="col-md-2 list-If">
                            主讲人
                        </label>
                        <label class="col-md-2 list-If">
                            时长
                        </label>
                        <label class="col-md-1 list-If">
                            附件
                        </label>
                        <label class="col-md-2 list-If">
                            投票信息
                        </label>
                        <label class="col-md-1 list-If"></label>
                        <label class="col-md-1 list-If"></label>
                    </li>
                </ul>
                <ul class="list-group2 contentRightListGroupOutWindow">           
                        <div class="list-group2 contentRightListGroupOutWindowList table-responsive">
                            @foreach (var agenda in Model)
                            {
                                <li href="#" class="list-group-item disabled container-fluid list_index">
                                    <input type="hidden" class="ID" value="@agenda.agendaID" />
                                    <input type="checkbox" value="1" class="col-md-1 check">
                                    <label class="col-md-2 list-If  searchStr">
                                        @agenda.agendaName
                                    </label>
                                    <label class="col-md-2 list-If">
                                        @agenda.userName
                                    </label>
                                    <label class="col-md-2 list-If">
                                        @agenda.agendaDuration 分钟
                                    </label>
                                    <label class="col-md-1 list-If">
                                        <img class="document" src="~/images/u141.png" />
                                    </label>
                                    <label class="col-md-2 list-If">
                                        <img class="vote" src="~/images/u131.png" />
                                    </label>
                                    <label class="col-md-1 list-If">
                                        <img class="edit" src="~/images/u127.png" />
                                    </label>
                                    <label class="col-md-1 list-If">
                                        <img class="delete" src="~/images/delete.png" />
                                    </label>
                                </li>
                            }
                        </div>
                </ul>
            </div>
            <nav class="text-center" id="paginationOutWindow">
                <ul class="pagination">
                    <!--<li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>-->
                </ul>
            </nav>
        </div>
        <div class="ContentRightButtonGroup pull-right">
            <button class="btn btn-default confirmDelete" type="button">确认删除</button>
        </div>
    </div>
</div>

<script src="~/js/agenda/index.js"></script>